<div class="header">
  <h1>天気予報</h1>
</div>

<div class="contents">

<h3>
Livedoorが提供しているお天気WebサービスAPIを取得しています
</h3>
<h3>
GitHub：https://github.com/Akihide-Tsue/news
</h3>

<h3>
API：http://weather.livedoor.com/forecast/rss/primary_area.xml
</h3>
<h3>
津江明秀
</h3>


<a href="/" class="btn-square-slant">戻る</a>