<div class="header">
  <h1 class="left">天気予報</h1>
  <h1  class="right">ログイン</h1>
</div>

<div class="contents">
<h3>
<% todouhuken = params[:ken] %>
<%= tenki(todouhuken) %>
</h3>

</div>
<a href="posts#index" class="btn-square-slant">戻る</a>

<a href="/about" class="btn-square-slant">このアプリについて</a>

